<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my auto">
            <h1 class="mb-1">Software IA</h1>
            <h3 class="mb-5">
                <em>Software de Inteligencia Artificial</em>
            </h3>
            <a href="/nosotros" class="btn btn-primary">
                Conócenos
            </a>
        </div>
    </header>

</main>