<div class="mx-auto mt-2 navbar-dark bg-dark">
    <div class="container mx-auto">
      <a class="navbar-brand mx-auto">Nosotros</a>
    </div>
</div>
<div class="mx-auto mt-2 navbar-dark bg-dark">
    <div class="container mx-auto">
      <a class="navbar-brand mx-auto">Misión</a>
    </div>
</div>
<div class="mx-auto mt-2 navbar-dark bg-dark">
    <div class="container mx-auto">
      <a class="navbar-brand mx-auto">Visión</a>
    </div>
</div>