<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Software IA</title>
    {{!-- Google fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet"> 
    {{!--Bootstrap --}}
    <link rel="stylesheet" href="/bootstrap.min.css">
    {{!--Scripts--}}
    <script src="/jquery-3.5.1.slim.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/popper.min.js"></script>
    {{!--Font --}}
    <script src="/font.js"></script>
    <link rel="stylesheet" href="/font-awesome.min.css">
    {{!-- estilos css --}}
    <link rel="stylesheet" href="/css/estilos.css">

</head>
<body>
    {{> navegacion}}

    {{{body}}}
</body>
</html>